doctype 
html(langue="en")
head 
meta(charset = "utf-8")
title  Checkpoint 
link(rel='stylesheet' type='text/css' href='css/style.css')

.navbar
  .logo
    h1 Travel
  .menu
    ul
      li
        a(href='home') Home
      li
        a(href='service') Services
     
      
      
  

.body
  .heading
    h1 Travel With Us
    br
    p
      |A perfect travel agency for personalized trips with the best prices and great adventures
   

