doctype 
html(langue="en")
head 
meta(charset = "utf-8")
title  Checkpoint 
link(rel='stylesheet' type='text/css' href='css/service.css')

.navbar
  .logo
    h1 Travel
  .menu
    ul
      li
        a(href='home') Home
      li
        a(href='service') Services
     
      
      
  


.tours
    .places
      h2 Sydney
      img(src='img1.jpg' style='width: 300px; height: 250px; border-radius: 12px;')
      br
      br
      a(href='#') Book Now 
    .places
      h2 Tokyo
      img(src='img2.jpg' style='width: 300px; height: 250px; border-radius: 12px;')
      br
      br
      a(href='#') Book Now 
    .places
      h2 Mexico
      img(src='img3.jpg' style='width: 300px; height: 250px; border-radius: 12px;')
      br
      br
      a(href='#') Book Now


